

body{
  min-height: 100vh;
  background: linear-gradient(-45deg,rgb(119, 194, 255),rgb(102, 104, 255));
  background-repeat: no-repeat;
}

.App {
  text-align: center;
  /* height: 100vh; */

  display: flex;
  flex-direction: column;
  align-items: center;
}

.todos-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
}

#page-title{
  color: rgb(250, 250, 250,0.9);
  font-size: 40px;
  line-height: 20px;
}

.todos-header{
  width:90%;
  max-width: 800px;
  height: 120px;

/*   
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; */

  text-align: left;

}

.search-filter-container{
  width: 95%;
  padding-left: 5%;
  height: 50px;
  background-color: white;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidepanel-container{

  width: 20vw;
  min-height: 100vh;
  height: 100%;
  background-color: white;
}