.add-todo-container{
    cursor:pointer;
    width: 150px;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0,0);
    border-style: none;
}
/* 
.add-todo-container:hover{
    background-color: rgb(0, 0, 0,0.1);
} */

.plus-icon{
    filter: invert(1);
}

.add-todo-text{
    text-align: center;
    color: white;
    font-size: 18px;
}

