.close-button{
    width: 20px;
    background-color: white;
    margin-left: 96%;
    cursor: pointer;

}
.submit-button{
    background-color: rgb(74, 100, 250);
    margin-top: 20px;
    width: 340px;
    height: 45px;
    font-size: 16px;
    color: white;

    border-style: none;
    border-radius: 5px;

    cursor: pointer;


}